include:
  - remote: "https://raw.githubusercontent.com/mozmeao/gitlab-library/${VERSION}/global_vars.yml"
  - remote: "https://raw.githubusercontent.com/mozmeao/gitlab-library/${VERSION}/jobs/docker.yml"
  - remote: "https://raw.githubusercontent.com/mozmeao/gitlab-library/${VERSION}/jobs/helm.yml"
  - remote: "https://raw.githubusercontent.com/mozmeao/gitlab-library/${VERSION}/jobs/ingress.yml"
  - remote: "https://raw.githubusercontent.com/mozmeao/gitlab-library/${VERSION}/jobs/javascript.yml"
  - remote: "https://raw.githubusercontent.com/mozmeao/gitlab-library/${VERSION}/jobs/linters.yml"
  - remote: "https://raw.githubusercontent.com/mozmeao/gitlab-library/${VERSION}/jobs/packer.yml"
  - remote: "https://raw.githubusercontent.com/mozmeao/gitlab-library/${VERSION}/jobs/terraform.yml"
